body{
  background-image: url("../images/background_image.png");
  font-family: 'Didact+Gothic';
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
}

.title {
  font-family: "Pacifico";
  font-size: 80px;
  text-decoration: underline;
  margin-bottom: 40px;
}

.finishQuiz {
  margin: 10px;
}

.time-section {
  font-size: 30px;
  font-weight: bold;
  color: #26a69a;

}