/* Universal Styles */
body{
  background-image: url("../images/background_image.png");
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
}